<!DOCTYPE html>
<html>
    <head>
        <title>file uploads</title>
        <body>
            <div>
            <form action="/img" method="post" enctype="multipart/form-data" >
                <input type="file" id="demo_img" name="demo_img">hii
                <button  type="submit">Upload file</button>
            </form>
        </div>
        </body>
    </head>
</html>