
 .video-card-container {
   margin: 6%;
   margin-bottom: 9%;
   /* position: relative;
    
    display: flex;
    margin-bottom: 20px;*/
    display: grid;
    grid-template-columns: 20% 20%  20% 20%;
    justify-content: space-between;
    position:relative;
    top:5vh;
   
    
 }

 .video-card {
    position: relative;
    /* min-width: calc(100%/5 - 10px); */
    /* width: calc(100%/4); */
    width: 60%;
    height: 100%;
    
    border-radius: 5px;
    font-size: 1.4rem;
    
    /* background: #030b17; */

    height: 23vh;
 }
 .video-card a img{
   height: 100%;
 }

 .video-card:hover{
   transform: scale(.9);
   transition: ease-in-out .4s;
 }

 @media only screen and (max-width: 768px){
   .video-card-container{
      grid-template-columns: 45% 45%;
      row-gap: 5%;
      margin: 15%;
      
   }
   .video-card{
      height: 12vh;
      font-size: .9rem;
   }
   
 }

 /* .video-card-image,
 .card-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
 } */
.video-card h1{
   color: black;
   text-align: center;
   padding-top: 20%;
  
   
}
img{
   pointer-events: none;
}

 .card-video {
    position: relative;
 }

 

 .title {
    color: #030b17;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    border-bottom: 6px solid ;
    border-bottom-color:#06406d;
    /* linear-gradient(to right, white , yellow);; */
    display: inline-block;
    
 }


 .movies-list {
    width: 100%;
    height: 220px;
    position: relative;
    margin: 10px 0 20px;
 }

 .card-container {
    position: absolute;
    width: 96%;
    padding-left: 4%;
    height: 220PX;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
 }

 .card-container::-webkit-scrollbar {
    display: none;
 }

 .card {
    position: relative;
    min-width: 250px;
    /* width: 150px; */
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    transition: .5s;
    /* background: #918383; */
 }
 .card:hover {
    transform: scale(1.5);
    z-index: 10;
    cursor: pointer;
    
 }
 .card:hover .card-body {
   transform:translateY(-10%);
    opacity: 1;
 }

 .card-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

 .card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #5d79b9 90%); */
    padding: 10px;
    transition: 0.5s;
    font-size: 2rem !important;
 }

 .name {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
 }

 .des {
    color: #fff;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
 }

 .watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
 }

 .watchlist-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url(../images/add.png);
    background-size: cover;
    transform: scale(0.4);
 }

 .watchlist-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
 }

 .pre-btn,
 .nxt-btn {
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    z-index: 10;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
 }

 .pre-btn{
    left: 0;
    
 }

 .nxt-btn {
    right: 0;
    
 }

 .pre-btn img,
 .nxt-btn img {
    width: 15px;
    height: 20px;
    opacity: 0;
 }
 


 .movies-list:hover .pre-btn img,
 .movies-list:hover .nxt-btn img {
 
      opacity: 1;
      /* height: 12%; */
      /* background: linear-gradient(to left, #0c111b 0%, #0c111b); */
 
  

 }
 